.container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
}
body{
    background-color: lightblue;
}
.container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .todo{
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 6px 12px rgba(0,0,0,0.1);
      background: #ffcdd2;
      width: 320px;
    }

    .todo h2 {
      margin-top: 0;
      text-align: center;
    }
